<div class="col-lg-12">
  <div class="card">
    <div class="card-header card-header-warning">
      <h4 class="card-title">Список задач</h4>
    </div>
    <div class="card-body table-responsive" *ngIf="tasks.length != 0">
      <table mat-table [dataSource]="dataSource" matSort>

        <!--  цвет приоритета  -->
        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef></th>
          <td class="col-color" mat-cell *matCellDef="let task" [style.background-color]="getPriorityColor(task)"></td>
        </ng-container>

        <!-- нумеризация -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef></th>
          <td class="col-id" mat-cell *matCellDef="let index = index">
            {{index + 1}}
          </td>
        </ng-container>

        <!-- название задачи -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Название</th>
          <td class="col-title" mat-cell *matCellDef="let task" [class.completed]="task.completed">
            {{task.title}}
          </td>
        </ng-container>

        <!-- дата выполнения -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Срок</th>
          <td class="col-date" mat-cell *matCellDef="let task"
              [ngClass]="{'completed' : task.completed, 'without-value' : task.date == null}">
            {{task.date | date: 'medium'}}
          </td>
        </ng-container>

        <!-- приоритет -->
        <ng-container matColumnDef="priority">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Приоритет</th>
          <td class="col-priority" mat-cell *matCellDef="let task"
              [ngClass]="{'completed' : task.completed, 'without-value' : task.priority == null}">
            {{task.priority ? task.priority.title : "Без приоритета"}}
          </td>
        </ng-container>

        <!-- категория -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Категория</th>
          <td class="col-category" mat-cell *matCellDef="let task"
              [ngClass]="{'completed' : task.completed, 'without-value' : task.category == null, 'link' : !task.completed && task.category}">
            {{task.category ? task.category.title : "Без категории"}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns : displayedColumns"></tr>

      </table>

      <mat-paginator [pageSizeOptions]="[10, 15, 20, 50]" showFirstLastButtons></mat-paginator>

    </div>

    <p *ngIf="tasks.length == 0" class="not-found">Данные не найдены</p>
  </div>
</div>
